<mat-dialog-content>
  <header>
    <h1>Add Data</h1>
  </header>

  <p>
    <mat-form-field>
      <input matInput placeholder="First name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input matInput placeholder="Last name">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin: 8px;">
  <button mat-raised-button color="primary">Submit</button>
  <button mat-raised-button color="warn" matDialogClose>Close</button>
</mat-dialog-actions>