.container {
  padding: 2%;
}
.container h1 {
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container button {
  float: right;
}
.container .search {
  display: flex;
  align-items: center;
  gap: 4px;
}